<div class="rounded-2x1 bg-white p-6 shadow-lg bonger bonger-gray-100">

<h2 class= "text-2xl font-bolf text-gray-800 mb-3">
{{title}}
</h2>
<p class="text-gray-600 leading-relaxed">
 {{ body}}
</p>
</div>
