<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  @vite(['resources/css/app.css', 'resources/js/app.js'])
  <title>Document</title>
</head>

<body>


  <div>
    <h1>viajando por ahí </h1>
    <p> conoce sobre mis experiencias </p>
  </div>

  <div>
    <div class="border rounded-2xl px-6 py-4">
      <h1 class="text-3xl font-bold"> ¿De que se trata mi blog ? </h1>
      <p> Este es mi blog sobre mis viajes y experiencias </p>
    </div>


    <div class="border rounded-2xl px-6 py-4">
      <h1 class="text-3xl font-bold"> Viaje por italia </h1>
      <p> ¿Es necesario saber su idioma? </p>
    </div>

    <div class="border rounded-2xl px-6 py-4">
      <h1 class="text-3xl font-bold"> ¿De que se trata mi blog ? </h1>
      <p> Este es mi blog sobre mis viajes y experiencias </p>
    </div>
  </div>

</body>

</html>
