@layout()
<div class="grid grid-cols-1 md:grid-cols-3 lig:grid-cols-4 gap-6">
 @!component('components/card', {
  title:'hola',
  body: 'asdfghj'
 })


      @!component('components/card', {
        title:'hello'
        boby: ''
      })


@end
